<article id="page-content" class="doc-formatting">
    <a class="page-link-to-github" target="_blank" href="<%- 'https://github.com/vincentlauvlwj/Ktorm/edit/master/docs/source/' + page.path.replace('.html', '.md') %>">
        <i class="icon fa fa-github"></i>
        <span class="text"><%- page.lang === 'zh-cn' ? '编辑本页' : 'Edit Page' %></span>
    </a>
    <%- page.content %>
    <div id="support-footer-container">
        <%- react_component('SupportFooter', {page, url_for, data: site.data}) %>
    </div>
</article>