<div class="head">
  <div class="head__title">
    <h1 class="head__title__text">
      <%= info.title %>
    </h1>
    <div class="head__title__version">
        Version: <%= info.version %>
    </div>
  </div>
  <div class="head__description">
    <%= info.description %>
  </div>
</div>
