<% if(sample){ %>
  <div class="sample-snippet">
    <%- sample %>
    <button class="dc-btn sample-snippet__copy-btn dc-btn--small" data-dc-has-tooltip="Copied!" >Copy Response</button>
  </div>
<% } %>
