
.api-docs {
  code {
    padding: 0;
    background: none;
    font-size: 14px;
  }
  .api-docs-table p {
    margin-bottom: 1.2rem;
  }
  .source-link {
    font-size: 85%;
    font-weight: 400;
    color: burlywood;
    border-bottom: 1px solid;
    margin-left: 10px;
  }
}