//
// content
//
.doc-content {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  min-height: 100vh;
  // padding-top: $doc-navbar-height;
  // padding-bottom: 420px;
  z-index: 2;
  transition: 0.1s ease-in-out;

  transform: translateX($doc-sidebar-width);
  margin-right: $doc-sidebar-width;

  .dc-page {
    overflow: auto;
    padding-top: 0;

    @media screen and (max-width: $doc-breakpoint) {
      padding-top: 0.8rem;
    }
  }

  @media screen and (max-width: $doc-breakpoint) {
    transform: translateX(0);
    margin-right: 0;
  }
}

.doc-support-footer {
  margin-top: 3.8rem;
  border-top: 1px solid $doc-support-footer-border-color;
  padding: 2.4rem 0;
  color: $doc-support-footer-color;
}

.doc-footer {
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 2.4rem;

  img {
    display: inline-block;
    padding: 0 5px;
    max-width: 100%;
    position: relative;
    vertical-align: text-bottom;
  }
}

.page-link-to-github {
  position: relative;
  float: right;
  z-index: 1;
  display: inline-block;
  border: 1px solid #b5b5b5;
  border-radius: 5px;
  color: #828282;
  font-size: 12px;
  font-weight: 400 !important;
  padding: 4px 10px;
  text-decoration: none;
  
  &:hover {
    color: #333;
    border-color: #333;

    .icon {
      background-position: 0 0;
    }
  }

  @media screen and (max-width: 500px) {
    display: none;
  }

  .icon {
    font-size: 20px;
    vertical-align: sub;
    margin-right: 2px;
  }
}

.page-link-to-github-wrapper {
  text-align: right;

  .page-link-to-github {
    float: none;
  }
}