<div class="doc-content">

  <div id="lang-switcher-container" class="lang-switcher-container"></div>

  <div class="dc-page">
    <div class="dc-card">

      <div id="doc-search-results" class="doc-search-results">
        <div id="doc-search-stats"></div>
        <div id="doc-search-hits"></div>
        <div id="doc-search-pagination"></div>
      </div>

      <article id="page-content" class="doc-formatting">
        <% if (page.path.indexOf('index.html') !== -1) { %>
          <p class="logo-paragraph">
            <img class="full-logo" src="<%- url_for('images/logo-full.png') %>" alt="Ktorm" />
          </p>
          <p class="logo-paragraph">
            <a href="https://www.travis-ci.org/vincentlauvlwj/Ktorm">
              <img class="badge" src="https://www.travis-ci.org/vincentlauvlwj/Ktorm.svg?branch=master" alt="Build Status" />
            </a>
            <a href="https://search.maven.org/search?q=g:%22me.liuwj.ktorm%22">
              <img class="badge" src="https://img.shields.io/maven-central/v/me.liuwj.ktorm/ktorm-core.svg?label=Maven%20Central" alt="Maven Central" />
            </a>
            <a href="https://github.com/vincentlauvlwj/Ktorm/blob/master/LICENSE">
              <img class="badge" src="https://img.shields.io/badge/license-Apache%202-blue.svg?maxAge=2592000" alt="Apache License 2" />
            </a>
            <a href="https://app.codacy.com/app/vincentlauvlwj/Ktorm?utm_source=github.com&utm_medium=referral&utm_content=vincentlauvlwj/Ktorm&utm_campaign=Badge_Grade_Dashboard">
              <img class="badge" src="https://api.codacy.com/project/badge/Grade/65d4931bfbe14fe986e1267b572bed53" alt="Codacy Badge" />
            </a>
            <a href="https://www.liuwj.me">
              <img class="badge" src="https://img.shields.io/badge/author-vince-yellowgreen.svg" alt="Author" />
            </a>
          </p>
        <% } %>

        <%- page.content %>

        <div id="support-footer-container">
          <%- react_component('SupportFooter', {page}) %>
        </div>
      </article>
    </div>
  </div>
</div>
