<article id="page-content" class="doc-formatting">
    <%- page.content %>
    <div id="support-footer-container">
        <%- react_component('SupportFooter', {page, url_for, data: site.data}) %>
    </div>
</article>